<p id="notice"><%= notice %></p>

<p>
  <b>Branch:</b>
  <%= @employee.branch.name %>
</p>

<p>
  <b>First name:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @employee.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Monthly Rate:</b>
  <%= @employee.monthly_rate %>
</p>

<p>
  <b>Address:</b>
  <%= @employee.address %>
</p>

<p>
  <b>Phone no:</b>
  <%= @employee.phone_no %>
</p>

<p>
  <b>Mobile no:</b>
  <%= @employee.mobile_no %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @employee.birthdate %>
</p>

<p>
  <b>Date hired:</b>
  <%= @employee.date_hired %>
</p>

<p>
  <b>Date regularized:</b>
  <%= @employee.date_regularized %>
</p>

<p>
  <b>Date left:</b>
  <%= @employee.date_left %>
</p>

<p>
  <b>Sss no:</b>
  <%= @employee.sss_no %>
</p>

<p>
  <b>Philhealth no:</b>
  <%= @employee.philhealth_no %>
</p>

<p>
  <b>Pagibig no:</b>
  <%= @employee.pagibig_no %>
</p>

<p>
  <b>Civil status:</b>
  <%= @employee.civil_status %>
</p>

<p>
  <b>Status:</b>
  <%= @employee.status %>
</p>




<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
