<h1>Listing applied loans</h1>

<table border="1">
  <tr>
    
    <th>Loan</th>
    <th>Date started</th>
    <th>Date ended</th>
    <th>Interval Type</th>
    <th>Amount per interval</th>
    <th>Original amount</th>
    <th>Remaining balance</th>
    <th colspan="3"></th>
  </tr>

<% @applied_loans.each do |applied_loan| %>
  <tr>
   
    <td><%= applied_loan.loan.name %></td>
    <td><%= pretty_print_date(applied_loan.date_started) %></td>
    <td><%= pretty_print_date(applied_loan.date_ended) %></td>
    <td><%= applied_loan.interval_type %></td>
    <td><%= applied_loan.amount_per_interval %></td>
    <td><%= applied_loan.original_amount %></td>
    <td><%= applied_loan.remaining_balance %></td>
    <td><%= link_to 'Show', [applied_loan.employee,applied_loan] %></td>
    <td><%= link_to 'Edit', edit_employee_applied_loan_path(applied_loan.employee_id, applied_loan) %></td>
    <td><%= link_to 'Destroy', [applied_loan.employee, applied_loan], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div class="extra">
	<%= link_to 'New Applied loan', new_employee_applied_loan_path(params[:employee_id]) %> |
	<%= link_to 'Back', employee_path(params[:employee_id])%>
</div>
