<table>
	<tr>
		<th>Employee</th>
		<th>Work Days</th>
		<th>Regular OT</th>
		<th>Special OT</th>
		<th>Legal OT</th>
		<th>Day Off OT</th>
		<th>Legal Holidays</th>
		<th>Days Absent</th>
		<th>Minutes Tardy</th>
		<th>Adjustment</th>
		<th>Other Deduction</th>
	</tr>
	<% cur_branch_id = -1 %>
	<% if @payroll.new_record? %>
		<% @company_employees.each do |emp| %>
			<% if cur_branch_id != emp.branch_id %>
				<% cur_branch_id = emp.branch_id %>
				<tr>
					<td>
						<b><%= emp.branch.name %></b>
					</td>
				</tr>
			<% end%>
			<tr>
				<td><%= hidden_field_tag "payroll_detail[][employee_id]", emp.id %><%= emp.complete_name %></td>
				<td><%= number_field_tag "payroll_detail[][days_worked]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][hours_regular_overtime]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][hours_special_overtime]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][hours_legal_overtime]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][hours_day_off_overtime]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][days_legal_holiday]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][days_absent]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][minutes_tardy]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][adjustment]", 0, :step=>0.1 %></td>
				<td><%= number_field_tag "payroll_detail[][other_deduction]", 0, :step=>0.1 %></td>
			</tr>
		<% end %>
	<% else %>
		<% @payroll_details.each do |pd| %>
			<tr>
				<% if cur_branch_id != pd.employee.branch_id %>
					<% cur_branch_id = pd.employee.branch_id %>
					<tr>
						<td>
							<b><%= pd.employee.branch.name %></b>
						</td>
					</tr>
				<% end%>
				<td>
						<%= hidden_field_tag "payroll_detail[][id]", pd.id %><%= pd.employee.complete_name %>
				</td>
				<td><%= number_field_tag "payroll_detail[][days_worked]", pd.days_worked, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][hours_regular_overtime]",pd.hours_regular_overtime, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][hours_special_overtime]",pd.hours_special_overtime, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][hours_legal_overtime]",pd.hours_legal_overtime, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][hours_day_off_overtime]",pd.hours_day_off_overtime, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][days_legal_holiday]",pd.days_legal_holiday, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][days_absent]",pd.days_absent, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][minutes_tardy]",pd.minutes_tardy, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][adjustment]",pd.adjustment, :step=>0.1  %></td>
				<td><%= number_field_tag "payroll_detail[][other_deduction]",pd.other_deduction, :step=>0.1  %></td>
			</tr>
		<% end %>	
	<% end %>
</table>
