<h1>Listing payrolls of <%= @company.name %></h1>

<table border="1">
  <tr>
    <th>Date start</th>
    <th>Date end</th>
   
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payrolls.each do |payroll| %>
  <tr>
    <td><%= payroll.date_started %></td>
    <td><%= payroll.date_ended %></td>
   
    <td><%= link_to 'Edit', edit_company_payroll_path(@company, payroll) %></td>
    <td><%= link_to 'Destroy', [@company, payroll], confirm: 'Are you sure?', method: :delete %></td>
    <td> <%= link_to 'Daily Rate', daily_payroll_company_payroll_path(@company.id, payroll) %></td>
		<td> <%= link_to 'Daily Rate Details', daily_payroll_details_company_payroll_path(@company.id, payroll) %></td>
		<td> <%= link_to 'Monthly Rate', monthly_payroll_company_payroll_path(@company.id, payroll) %></td>
		<td> <%= link_to 'Monthly Rate Details', monthly_payroll_details_company_payroll_path(@company.id, payroll) %></td>
		<td> <%= link_to 'Prooflist', prooflist_company_payroll_path(@company.id, payroll) %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payroll', new_company_payroll_path(params[:company_id]) %>
