<p id="notice"><%= notice %></p>

<table>
		<tr>
			<td>
				<h2><%= @payroll.company.name %></h2>
			</td>
		</tr>
		<tr>
			<td> PAYROLL - Daily Rate</td>
		</tr>
		<tr>
			<td>
				For the period of <%= @payroll.date_started %> to <%= @payroll.date_ended %>
			</td>
		</tr>
</table>

<table border="1">
	<tr>
		<th>Employee</th>
		<th>Rate</th>
		<th>Work Days</th>
		<th>Basic Pay</th>		
		<th>Regular OT</th>
		<th>Regular Amount</th>
		<th>Special OT</th>
		<th>Special Amount</th>
		<th>Legal OT</th>
		<th>Legal Amount</th>
		<th>Total OT</th>
		<th>Total Amount</th>
		<th>Day Off OT</th>
		<th>Day Off Amount</th>
		<th>Legal Holidays</th>
		<th>Legal Holidays Amount</th>
		<th>Days Absent</th>
		<th>Minutes Tardy</th>
		<th>Minutes Tardy Amount</th>
		<th>Adjustment</th>
		<th>Gross Pay</th>
		<th>SSS</th>
		<th>PhilHealth</th>
		<th>HDMF</th>
		<th>SSS Loan</th>
		<th>HDMF Loan</th>
		<th>Philhealth Loan</th>
		<th>Salary Loan</th>
		<th>Calamity Loan</th>
		<th>With Tax</th>
		<th>Other Deduction</th>
		<th>Net Pay</th>
	</tr>
	<% cur_branch_id = -1 %>
	<% @payroll_details.each do |pd| %>
		<tr>
			<% if cur_branch_id != pd.employee.branch_id %>
				<% cur_branch_id = pd.employee.branch_id %>
				<tr>
					<td colspan="11">
						<b><%= pd.employee.branch.name %></b>
					</td>
				</tr>
			<% end%>
			<td>
					<%= link_to pd.employee.complete_name, pd.employee %>
			</td>
			<td><%= "%.2f" % pd.rate %></td>
			<td><%= "%.2f" % pd.days_worked %></td>
			<td><%= "%.2f" % pd.basic_pay %></td>
			<td><%= "%.2f" % pd.hours_regular_overtime %></td>
			<td><%= "%.2f" % pd.regular_ot_amount %></td>
			<td><%= "%.2f" % pd.hours_special_overtime %></td>
			<td><%= "%.2f" % pd.special_ot_amount %></td>
			<td><%= "%.2f" % pd.hours_legal_overtime %></td>
			<td><%= "%.2f" % pd.legal_ot_amount %></td>			
			<td><%= "%.2f" % pd.total_overtime_hours %></td>
			<td><%= "%.2f" % pd.total_overtime_amount %></td>			
			
			
			<td><%= "%.2f" % pd.hours_day_off_overtime %></td>
			<td><%= "%.2f" % pd.work_on_day_off_amount %></td>
			
			<td><%= "%.2f" % pd.days_legal_holiday %></td>
			<td><%= "%.2f" % pd.legal_holiday_amount %></td>
			
			<td><%= "%.2f" % pd.days_absent %></td>
			<td><%= "%.2f" % pd.minutes_tardy %></td>
			<td><%= "%.2f" % pd.tardy_amount %></td>
			
			<td><%= "%.2f" % pd.adjustment %></td>
			<td><%= "%.2f" % pd.gross_pay %></td>
			
			<td><%= "%.2f" % pd.sss_contribution %></td>
			<td><%= "%.2f" % pd.philhealth_contribution %></td>
			<td><%= "%.2f" % pd.hdmf_contribution %></td>
			
			<td><%= "%.2f" % pd.sss_loan %></td>
			<td><%= "%.2f" % pd.hdmf_loan %></td>
			<td><%= "%.2f" % pd.philhealth_loan %></td>
			<td><%= "%.2f" % pd.salary_loan %></td>
			<td><%= "%.2f" % pd.calamity_loan %></td>

			<td><%= "%.2f" % pd.with_tax %></td>
			
			<td><%= "%.2f" % pd.other_deduction %></td>
			
			<td><%= "%.2f" % pd.net_pay %></td>
		</tr>
	<% end %>	

</table>

<div class="extra">
	<%= link_to 'Edit', edit_company_payroll_path(@payroll.company, @payroll) %> |
	<%= link_to 'Back', company_payrolls_path(@payroll.company) %>
</div>


