<div class="show">
	<p id="notice"><%= notice %></p>

	<p>
		<b>Name:</b>
		<%= @company.name %>
	</p>

	<p>
		<b>Branches:</b>
		<ul>
		<% for b in @company.branches %>
			<li> <%= link_to b.name, company_branch_url(@company,b) %> | <%= link_to 'Edit', edit_company_branch_url(@company, b) %> | <%= link_to 'Destroy', company_branch_path(@company, b), confirm: 'Are you sure?', method: :delete %></li>
		<% end %>
		</ul>
	</p>

	<%= link_to 'Add Branch', new_company_branch_path(@company) %>

	<p>
		<b>Employees:</b>
		<ul>
		<% for e in @company.employees %>
			<li> <%= link_to (e.first_name + " "+ e.last_name), e %> </li>
		<% end %>
		</ul>
	</p>
</div>
<div class="extra">
	<%= link_to 'Edit', edit_company_path(@company) %> |
	<%= link_to 'Back', companies_path %>
</div>
