<div id="header">
<% if session[:user_id] %>
	<%= link_to 'Home', '/' %> |
	<%= link_to 'Manage Holidays', holidays_path %> |
	<%= link_to 'Manage Companies', companies_path %> |
	<%= link_to 'Manage Employees', employees_path %> | 
	
	<%= link_to 'Reports', '#' %> |

	<%= link_to 'Logout', '/logout' %>
<% else %>
	<h2>BayadLigid - Payroll System</h2>	
<% end %>
	<hr/>
</div>

