<h1> Companies </h1>

<table border="1">
	<tr>
		<th> Company </th>
		<th colspan="4"> Payroll</th>
	</tr>
	<% @companies.each do |c| %>
		<tr>
			<td> <%= c.name %> </td>
			<td> <%= link_to 'Input Daily Payroll',new_company_payroll_path(c.id) + "?payroll_type=Daily" %></td>
			<td> <%= link_to 'Input Monthly Payroll',new_company_payroll_path(c.id) + "?payroll_type=Monthly" %></td>
			<td> <%= link_to 'List Old Payrolls', company_payrolls_path(c.id) %></td>
			<td> <%= link_to_latest_payroll(c) %></td>
		</tr>
	<% end %>

</table>
