<!DOCTYPE html>
<html>
<head>
  <title>Bayadligid</title>
  <style type="text/css" media="print">
  	@media print{
  		header, .extra, .actions{
  			display: none;
  		}
  		a {
  			text-decoration: none;
  			color: black;
  		}
  		body{
  			margin: 0;
  			padding: 0;
  		}
  		.container{
  			width: 100%;
  			float: none;
  		}
  		p, td, th{
  			font-size: 10pt;
  			line-height: 1;
  		}
  		h1, h2, h3{
  			font-size: 12pt;
  			margin:0;
  			padding: 0;
  			line-height: 1;
  		}
  		table{
  			border: 1px solid black;
  		}
  		
			.paper h1, .paper h2, .paper h3, .paper th, .paper strong, .paper p{
				font-size: 8pt;
				padding: 0;
				margin: 0;
				line-height: 1;
				text-align: center;
			}
			.paper{
				margin:0;
				margin-bottom: .25em;
				display: inline-block;
				width: 48.2%;
				border: 1px solid black;
			}


			.left-column{
				float: left;
				margin-top: .1em;
				margin-right: .1em;
				padding-top: .5em;
			}
			
			.left-column table{
				padding-left: .1em;
				padding-right: .1em;
				text-align: left;
			}

			.right-column{
				float: right
				margin-top: .1em;
				
			}
			
			.right-column table {
				font-size: 9pt;
				padding: 0;
				margin: 0;
				text-align: left;
			}

			.center-column{
				position: relative;
				text-align: center;
				padding: 0;
				margin: 0;
				margin-top: .5em;
				width: 100%;
				display: inline-block;
				border-top: 1px dotted black;
				float: left;
			}
			.center-column p, .center-column strong{
				font-size: 10pt;
				padding: 0;
				margin: 0;
				margin-top: .5em;
			}
			.center-column .less-margin{
				line-height: 1;
				margin-top: .25em;
				margin-bottom: .25em;
			}
			.signature{
				margin-top: 1em;
				margin-bottom: .5em;
				border-top: 1px solid black;
			}
			.signature p{
				margin-top: .1em;
			}

			.page-break{
				display: block;
				page-break-before: always;
			}
  	}
  </style>
  <%= stylesheet_link_tag "application", media: "screen" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'application/header' %>
	<div class="container">
		<%= yield %>		
	</div>
	<%= render 'application/shim' %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
  	btnPrint = document.getElementById("btnPrint");
  	if(btnPrint)
  		btnPrint.addEventListener('click', doPrint, false);
  
  	function doPrint(){
  		window.print();
  		return false;
  	}

		frmPayroll = document.getElementsByName("payroll_form");
		var total = 0
	
		if(frmPayroll && frmPayroll.length > 0){
			injectEvents();
		}

    function injectEvents(){
      elems = frmPayroll[0].elements;
      for(i = 0;i<elems.length;i++){
        elem = elems[i];
        if(elem.type && (elem.type == "text" || elem.type == "number")) {
          elem.title = "index_" + total;
          elem.onkeypress = disableEnter;  
          total++;
        }
        
      }
      
    }

		function disableEnter(event){
		  if(event){
		    evt = event;
		    elemName = evt.target.title; 
		  }
		  else{
		    evt = window.event;
		    elemName = evt.srcElement.title;
		  }
		  index = (parseInt(elemName.split('_')[1])+1) % total;
			if((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13)) {
			  elems = frmPayroll[0].elements;
			  for(i=0; i<elems.length; i++){
			    if(elems[i].title == "index_" + index){
			      elems[i].focus();
			      return false;
			    }
			  }
			  return false;
			}

		}
		
		
  // ]]>
  </script>
</body>
</html>

