<!DOCTYPE html>
<html>
<head>
  <title>Bayadligid</title>
  <style type="text/css" media="print">
  	@media print{
  		header, .extra, .actions{
  			display: none;
  		}
  		a {
  			text-decoration: none;
  			color: black;
  		}
  		body{
  			margin: 0;
  			padding: 0;
  		}
  		.container{
  			width: 100%;
  			float: none;
  		}
  		p, td, th{
  			font-size: 10pt;
  			line-height: 1;
  		}
  		h1, h2, h3{
  			font-size: 12pt;
  			margin:0;
  			padding: 0;
  			line-height: 1;
  		}
  		table{
  			border: 1px solid black;
  		}
  		
			.paper h1, .paper h2, .paper h3, .paper th, .paper strong, .paper p{
				font-size: 8pt;
				padding: 0;
				margin: 0;
				line-height: 1;
				text-align: center;
			}
			.paper{
				margin:0;
				margin-right: .25em;
				margin-bottom: .25em;
				padding: .25em;
				display: inline-block;
				border: 1px solid black;
				width: 45%;
			}


			.left-column{
				float: left;
				margin-left: .5em;
				margin-top: .25em;
				
			}
			
			.left-column table{
				padding-left: .25em;
				padding-right: .25em;
				text-align: left;
			}

			.right-column{
				float: right;
				margin-right: .3em;
				margin-top: .25em;
				
			}
			
			.right-column table {
				font-size: 9pt;
				padding: 0;
				margin: 0;
				padding-left: .25em;
				padding-right: .25em;
				text-align: left;
			}

			.center-column{
				position: relative;
				text-align: center;
				padding: 0;
				margin: 0;
				margin-top: .5em;
				width: 100%;
				display: inline-block;
				border-top: 1px dotted black;
				float: left;
			}
			.center-column p, .center-column strong{
				font-size: 10pt;
				padding: 0;
				margin: 0;
				margin-top: .5em;
			}
			.center-column .less-margin{
				line-height: 1;
				margin-top: .25em;
				margin-bottom: .25em;
			}
			.signature{
				margin-top: 1em;
				margin-bottom: .5em;
				border-top: 1px solid black;
			}
			.signature p{
				margin-top: .1em;
			}

			.page-break{
				display: block;
				page-break-before: always;
			}
  	}
  </style>
  <%= stylesheet_link_tag "application", media: "screen" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'application/header' %>
	<div class="container">
		<%= yield %>		
	</div>
	<%= render 'application/shim' %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
  	btnPrint = document.getElementById("btnPrint");
  	if(btnPrint)
  		btnPrint.addEventListener('click', doPrint, false);
  
  	function doPrint(){
  		window.print();
  		return false;
  	}

	frmPayroll = document.getElementsByName("payroll_form");
	
	if(frmPayroll && frmPayroll.length > 0){
		for(i=0;i<frmPayroll[0].elements.length;i++){
			element = frmPayroll[0].elements[i];
			element.onkeypress = disableEnter;
		}
	}



	function disableEnter(){
		if((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13))
		{
			event.keyCode=9;
			
			event.which = 9;
			return 9;
		}
		alert(event.which);
	}
  // ]]>
  </script>
</body>
</html>

