<!DOCTYPE html>
<html>
<head>
  <title>Bayadligid</title>
  <style type="text/css" media="print">
  	@media print{
  		#header {
  			display: none;
  		}
  	}
  </style>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'application/header' %>
	<%= yield %>
</body>
</html>
